Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Credentials "true"
Header set Access-Control-Allow-Headers "Accept, Accept-Language, Content-Language, Content-Type, X-Access-Token, X-Application-Name, X-Request-Sent-Time"
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header set Access-Control-Max-Age "1"

